body{
    background-color: royalblue;
}
h1{
    text-align: center;
}
.egesz2{
    background-color: white;
    padding: 1%;
}

h2{
    text-align: left;
}
.egesz1{
    background-color: royalblue;
    padding: 1%;
}
.gombok{
    text-align: center;
}
#egygomb{
    width: 100%;
    margin-bottom: 0.01px;
}
#kettogomb{
    width: 100%;
}
